[submodule "third_party/go-substrate-rpc-client"]
	path = third_party/go-substrate-rpc-client
	url = https://github.com/prabal-banerjee/go-substrate-rpc-client.git
[submodule "third_party/polygon-edge"]
	path = third_party/polygon-edge
	url = git@github.com:0x19/polygon-edge.git
	branch = avail/staking-contract
[submodule "third_party/avail-settlement-contracts"]
	path = third_party/avail-settlement-contracts
	url = git@github.com:maticnetwork/avail-settlement-contracts.git
	branch = main
